

/* Секция с задачами */
.task-board {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    gap:20px;
}



.task-column {
    margin-bottom: 30px;
    background-color: white;
    flex: 1 1 23%; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-column h3 {
    margin-top: 0;
    font-size: 16px;
    text-align: center;
}

.task-column ul {
    list-style: none;
    padding: 0;
}

.taskboard__item {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.task__edit {
    display:flex;
    min-width:35px;
    flex-shrink:1;
    width:auto;
    flex-shrink:0;
    border:none; 
}

.task__edit:hover {
    opacity: 0.7;
    transition-duration:0.9s;
}

/* Стили для разных колонок */
.backlog h3 {

    background-color: #ccc;
    padding: 5px;
    border-radius: 4px;
    color: #333;
}

.in-progress h3 {
    background-color: #a3c4ff;
    padding: 5px;
    border-radius: 4px;
    color: #333;
}

.done h3 {
    background-color: #a8e6cf;
    padding: 5px;
    border-radius: 4px;
    color: #333;
}

.trash h3 {
    background-color: #ffcdd2;
    padding: 5px;
    border-radius: 4px;
    color: #333;
}




@media (max-width:760px) {
    .task-column {
        flex:1 1 100%;
    }
    .task__edit {
        width:8%;
        padding:5px 5px;
        flex-shrink:0;
        border:none; 
    }
}


